.header {
    background-color: #f7fafc;
    box-shadow: 2px 2px 1px #ebebeb, 0px 0px 0px #a8a8a9;
    margin: 2px;
}

.sidebarre {
    background-color: #f7fafc;

}

button {
    width: 100%;
    justify-content: left;
}

.active-button {
    background-color: rgb(24, 93, 211);
    color: white !important;
}

mat-drawer-container {
    height: 89vh
}

mat-drawer {
    width: 15%;
}

.mglogo {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.navbar {
    overflow: hidden;
}

.mat-expansion-panel {
    background-color: #f7fafc;
    box-shadow: none !important;
    margin-bottom: 0px;
}


.header-container {
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 15px;
}

.header-button {
    flex: 1;
    text-align: left;
    width: 100%;

}