<div class="principal">
    <div class="centre">
        <div class ="header">
            
            <img width="100" height="100" style="margin-top: 10px;" alt="IndataCore Logo"
                                src="assets/images/logo_InDataCore.png" class="imglogo" />
        </div>
       
        <form class = "form" [formGroup]="signInForm">
            <mat-form-field appearance="outline">
                <mat-label>Login</mat-label>
                <input matInput type="text" formControlName ="login">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName ="password">
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit" (click)="signIn()"> Sign In </button>
        
        </form>
        <a routerLink="/signUp">New User ? Click to sign up !!</a>

    </div>
</div>




