#file {
    display: none;
}
.principal {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal centering */
}
.centre{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  width: 40%;
  height: 190px;
  border: 1px solid   rgb(198, 198, 199);
  box-shadow: 2px 2px 4px #bab6e2, -2px -2px 4px #dcdcdc;
  padding-top: 10px;
  margin-top: 10px;
}
.buttonUpload {
    height: 50px;
    font-size: 15px;
    border: 1px solid gray;
    padding: 20px;
    margin-bottom: 10px;
}

.FileProgresse{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
span{
  text-align: left;
font-size: small;
font-weight: bold;

}